.Login {
  border: 1px solid black;
}

.HomeMain {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.HomeLeft {
  width: 70%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid;
  text-align: center;
}

.table-responsive {
  width: 30%;
  height: 90vh;
}

.TableColumn {
  width: 20%;
  text-align: center;
}

.PlayerName:hover {
  font-weight: bold;
  cursor: pointer;
}

.InviteBox {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 100%;
  padding: 15px;
}
